{% extends "layout.html.twig" %}

{% block title %}Home - {{hashtag}}{% endblock %}

{% block content %}
<div class="brand clearfix">
    <a href="index.html" class="logo"><img src="../templates/assets/img/logo.jpg" class="img-responsive" alt=""></a>
    <span class="menu-btn"><i class="fa fa-bars"></i></span>
    <ul class="ts-profile-nav">
        <li><a href="#">Help</a></li>
        <li><a href="#">Settings</a></li>
        <li class="ts-account">
            <a href="#" style="white-space: nowrap;"><img src="{{ user.data.profile_picture}}" class="ts-avatar hidden-side" alt=""> {{ user.data.username}} <i class="fa fa-angle-down hidden-side"></i></a>
            <ul>
                <li><a href="#">My Account</a></li>
                <li><a href="{{ SERVER_ROOT }}logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="ts-main-content">
    <nav class="ts-sidebar">
        <ul class="ts-sidebar-menu">
            <li class="ts-label">Main</li>
            <li class="open"><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a></li>

            <!-- Account from above -->
            <ul class="ts-profile-nav">
                <li><a href="#">Help</a></li>
                <li><a href="#">Settings</a></li>
                <li class="ts-account">
                    <a href="#"><img src="img/ts-avatar.jpg" class="ts-avatar hidden-side" alt=""> Account <i class="fa fa-angle-down hidden-side"></i></a>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Edit Account</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>

        </ul>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title">Dashboard</h2>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="panel panel-default">
                                        <div class="panel-body bk-primary text-light">
                                            <div class="stat-panel text-center">
                                                <div class="stat-panel-number h1 ">{{ user.data.counts.media }}</div>
                                                <div class="stat-panel-title text-uppercase">Posts</div>
                                            </div>
                                        </div>
                                        <a href="#" class="block-anchor panel-footer">Full Detail <i class="fa fa-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-default">
                                        <div class="panel-body bk-success text-light">
                                            <div class="stat-panel text-center">
                                                <div class="stat-panel-number h1 ">{{ user.data.counts.followed_by }}</div>
                                                <div class="stat-panel-title text-uppercase">Followers</div>
                                            </div>
                                        </div>
                                        <a href="#" class="block-anchor panel-footer text-center">See All &nbsp; <i class="fa fa-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-default">
                                        <div class="panel-body bk-info text-light">
                                            <div class="stat-panel text-center">
                                                <div class="stat-panel-number h1 ">{{ user.data.counts.follows }}</div>
                                                <div class="stat-panel-title text-uppercase">Following</div>
                                            </div>
                                        </div>
                                        <a href="#" class="block-anchor panel-footer text-center">See All &nbsp; <i class="fa fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Followers / posts</div>
                                <div class="panel-body">
                                    <div class="chart">
                                        <canvas id="dashReport" height="310" width="600"></canvas>
                                    </div>
                                    <div id="legendDiv"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Users not following <a href="{{ SERVER_ROOT }}notfollowing">See All &nbsp; <i class="fa fa-arrow-right"></i></a></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul class="chart-dot-list">
                                                <li class="a2">Following</li>
                                                <li class="a1">Not following</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="chart chart-doughnut">
                                                <canvas id="chart-area4" width="1200" height="900" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="chartData.js.php" async></script>
{% endblock %}
